@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --primary: #b88e2f;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
